*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: fuenteRandom;
    src: url('../fuentes/PT_Sans_Narrow/PTSansNarrow-Regular.ttf');
}


                                                                /*< HEADER > */   
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
 font-weight: bold!important;
}
header{

    width: 100%;
    height: 80px;
    display: flex;
    background:  rgb(55 146 232);


}

#parteP{
    display: flex;
    align-items: center;
    width: 20%;
    z-index: 1;
    margin-top: 67px;
    margin-left: 70px;

}

#tituloP{
    width: 100%;
    margin-left: 15px;
 }   
#soyh1{

    font-size: 70px;
    font-weight: bold;

}
#gif1{

    margin-left: 5px ;

}
 #navSuperior ul{
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 19px;
    color: whitesmoke;
    margin-bottom: 0;
 }

 #navSuperior li{
    margin: 10px;
    display: flex;
    align-items: center;                
 }
 #navSuperior li:hover{
    
    color: rgb(39, 44, 44);
    transition: 960ms; 
    border: 1px solid black;
    margin-bottom: 10px;
    border-top:0 ;
    border-left: 0;
    border-right: 0;
 }
 .areaHeaderG{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;


 }

#iconoG{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconoS{
    cursor: pointer;
}
.aSvg:hover,.aSvg:hover ~ #plbRegistro > a > strong {
    color: white;
    transition: 960ms;    
}
#iconoS svg{
    width: 100%;
    height: 35px;
}
#plbRegistro{
    font-size: 18px;
}
#plbRegistro:hover{

   color: aliceblue;
}

::placeholder{
   padding-left: 5px;
   color: rgb(126, 123, 123);
   
 }
 #navBar{

    position: relative;
    width: 45%;
    --bs-bg-opacity: 0;
    display: flex;
    justify-content: end;
    align-items: end;
 }

 #container-F{
    display: flex;
    justify-content: end;
 }
#btnVar:hover{
    
    background: rgb(238, 238, 238);
    transition: 950ms;

}
#btnTogglee::after{
    box-shadow: 0 2px 4px 0.8px rgba(0, 0, 0, 0.2);
    background: transparent;
    color: white!important;
}



                                                            /* </HEADER> */


                                                            /* <BODY> */
  
                                                            
body{

    width: 100%;
    height: 110vh;
    font-family: fuenteRandom !important;
   
}
p {
    margin-top: 0;
    margin-bottom: 0rem!important;
}

#menuSecundario{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: #148ad8;
   

}
.ulPc{

    width: 76%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 75px;
    list-style: none;
    margin-right: 30px;
    margin-bottom: 0;
    
}

#iconosMenuS{
    display: flex;
}



.ulPc li{

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 17px; 
    

}
#menuSecundario li:hover{

   color: white;
}
#menuSecundario svg{

    margin: 10px;
    


}
#areaCentralG{
    width: 24%;
    display: flex;
    justify-content: center;
    
    
 }
.areaCentral{

    width: 70%;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:2px solid #30194b;
    border-radius: 15px;
    background: white;
   

}                                                              

.inputBuscar{

   margin-left: 20px;
   width: 100%;
   height: 25px;
   border: none;
   outline: 0;
   font-size: 15px;
   

}

#iconoBuscar{

    color: #060ae9;
    top: 50%;
    width: 26%;
    height: 20px;
    cursor: pointer;
    
 }

 #barraLateralG{
    width: 22%;
    /* height: 80vh; */
    height: 625px;
   


 }
 #seccionProductos{

    width: 78%;
    /* height: fit-content; */
    
 }
#seccionPrincipal{
    display: flex;
}
aside{

    
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
    height: 619px;

}
#barraL1{

    border: 3px solid black;
    border-radius: 10px;
    width: 80%;
    height: 95px;
    position: relative;
    top: 92px;
    left: 30px;


}

.barraC{

    border-top-right-radius: 10px;
    border-top-left-radius: 10px;    
    background:#148ad8;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.barraC p{
    
    text-align: center;
    font-size: 18px;
    color: white;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#barraL2{

    border: 3px solid black;
    border-radius: 10px;
    width: 80%;
    height: 300px;
    background-color: re;
    position: relative;
    top: 93px;
    left: 30px; 

}

#iconoFiltro{

    margin-right:5px;
    
}

.selectBL2{

   
    width: 100%;
    height: 58px;
    background: transparent;
    outline: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 10px;
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    cursor: pointer;
    position: relative;
    z-index: 1;
}


.divSelect{


    display: flex;
    align-items: center;
    text-align: center;

}

.divSelect svg{
    z-index: 0;
    position: absolute;
    right: 20px;
    cursor: pointer;

}
#divSelectG{

    display: grid;
    flex-direction: column;
    position: relative;
    gap: 10px;
    top: 18px;
    height: 190px;
}    

.divSeccion{
    width: 100%;
    height: 308px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;  
    gap: 20px;

}  

#seccionP{
    width: 100%;
    display: grid;
    grid-template: 2tf;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    overflow-y: scroll;
    max-height: 79vh;
}

.cajas{

    border: 2px solid none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    height: 290px;
    width: 92%;
    background: white;
    /* cursor: pointer; */
}
.contenedorImg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorImgP{
    width: 91%;
    /* height: 36vh; */
}
.cajaFP{
    display: flex;
    justify-content: center;
    width: 9%;
    height: 30px;
}
/* .cajaSecundaria{
    display: flex;
    /* background: red;} */


.cajaFavorito{

    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    background: transparent;
    color: rgb(0, 0, 0);
    border-radius: 1px;
    width: 100%;
    height: 5vh;
    font-size: 21px;
}
.cajaFavorito:hover{
    border-top-left-radius: 8px ;
    border-bottom-left-radius: 8px ;
    background:  #148ad8;
    color: white;
  
}

.cajaC{

    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;

}

.cajaC h6{

    font-weight: bold;
}
.cajas:hover{

    box-shadow: 6px 2px 7px rgba(0,0,0,0.12), 0 3px 2px rgba(0,0,0,0.24);
   

}

.cajaCB{

    width: 100%;
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 39px;
}

.buttonComprar,.buttonVentana{
    
    border:0;
    background: #148ad8;
    border-radius: 10px;
    font-size: 18.3px;
    width: 50%;
    color: white;


}
.buttonAgregar{

    border: 0;
    background:  #148ad8;
    color: white;
    border-radius: 10px;
    width: 12%;
    font-size: 21px;

}

.buttonAgregar:hover,.buttonComprar:hover,.buttonVentana:hover,#btnCT:hover{
    border: 1px solid black;
    background: white;
    transition: 950ms;
    color: rgb(0, 0, 0);
}

#divContactG{

    width: 100%;
    display: flex;
    background:  #148ad8;
    justify-content: center;
    height: 115px;

   
}
#divCR1{

    display: flex;
    align-items: end;
    justify-content: center;
    flex-direction: column;
    width: 40%;

}
#divCR1 div:hover{

    color: white;

   
}
#divCR2{

 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 40%;

}
#tituloA{
    
    margin-top: 10px;
    text-align: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;


}
#tituloR{

    width: 100%;


}
#divRGE{

    display: flex;
    flex-direction: row;
    gap: 30px;


}
.centrarIconos{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}
.centrarIconos:hover{

    color: white;
    transition: 500ms;


}
a:link{
    text-decoration: none;
    color: black;
}

a:visited{

    color: black;
   
   
   }




   
                                                            /* </BODY> */

                                                            /* STYLE RESGISTRO  */
 

                                                            

                                                            

#divContainer{

  
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#divFormulario{

    
    width: 30%;
    height: 80vh;
    border: 3px solid  none;
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);

}

#tituloForm{

    width: 100%;
    background: rgb(55 146 232);
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    height: 20vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#iconoForm{

    position: relative;
    right: 10px;

}

.formulario{
    text-align: center;
}

#plbIngresar h2{

    width: 100%;
    height: 13vh;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.areaInputForm{

    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;



}
.inputsForm{

    width: 60%;
    height: 6vh;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.olvidarContrasena{

    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}

.areainputsG{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.divButtonIn{

    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.buttonIngresarF{

    width: 30%;
    height: 5vh;
    border: 0;
    border-radius: 8px;
    background: rgb(55 146 232);
    cursor: pointer;
}

.buttonIngresarF h3{
    border-radius: 8px;
    color: white;
    text-align:center;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;

}

.linkCuenta{

    text-decoration: solid;

}

.divButtonIngresar{
    
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}




                                                                    /* /STYLE RESGISTRO */

                                                                    /* STYLE RESGISTRO CREAR CUENTA */


#divContainer2{

  
    width: 100%;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#bodyResgistroC{


    width: 100%;
    height: 130vh;
    font-family: fuenteRandom;


}                                                                   
#divFormulario2{

    /*  h : 105vh */
    width: 33%;
    height: auto; 
    border: 3px solid none;
    border-radius: 10px;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.2), 0 16px 24px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12) ;

}
#divInputsG{

    width: 100%;
}
.divInputsC{

    width: 100%;
    height: auto;
    display: flex;
    text-align: start;
   

}
.cajaInps{

    width: 50%;
    margin-left: 14px;
    height: 10vh;
   
}
.divAB{

    width: 95%;
    height: 4.5vh;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
.dispersar{
   display: flex; 
   flex-direction: column;
   gap: 15px;
   /* margin-top: 5px; */
}

.divGid{

    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
 
    
    
}

.divIdentificacion{

    width: 100%;
    height: auto;
    text-align: start;
   
    
}
.inputId{

    width: 80%;
    height: 4.5vh;
    outline: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    
}
.cajasId{

    width: 100%;
    display: flex;
    justify-content: center;
   
    
}
.labelid{

    margin-left: 50px;


}
.divInputsC2{

    width: 100%;
    height: 10vh;
    display: flex;
    text-align: start;
    margin-top: 30px;

}


#divCDesigualdad{
    
     width: 100%;
     height: 9vh;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     gap: 10px 
     
}

#cDesigualdad{
    
    text-align: center;
    
}


#divTerminos{
    
    height: 5vh;
    line-height: 1.5vh;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
}

#aceptarTerminos {
    
  width: 16px; /* Ancho personalizado */
  height:16px; /* Altura personalizada */
}


#aTerminos{
    
    margin-bottom: 1px;
}

#aTerminos:hover{
        text-decoration: underline;
}


.checkBoxActivado{
    
    color: red !important;
    
}

/* #inputR{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

} */

/* .inputRadius{

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  
    border-radius: 50%;
    width: 20px;
    height: 20px;
  
    border: 2px solid #999;
    transition: 0.2s all linear;
    margin-right: 5px;
  
    position: relative;
    top: 4px;
} */
  
/* input:checked {
    border: 6px solid black;
    outline: unset !important ;
} */
/* .divInputR{

    height: 10px;
    
} */
                                                    /* DISCRIPCIONES PRODUCTOS */
.seccionPrincipalD{

    width: 100%;
    height: 90vh;
    display: flex;
}
#bodyDescripcion{

    height: 130vh;
}
.linkDi1{

    width: 100%;
    color: black;
    display: flex;
    /* flex-direction: column;
    align-items: center; */

}

#divCorauselG{


    width: 60%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#divDescripcionG{

    width: 40%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

#divCorauselS{

    width: 98%;
    height: 88vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
#divDescripcionS{

    width: 98%;
    height: 88vh;
      
}
#divCarouselC{

    width: 80%;
    height: 60vh;
   


}
#tituloD{

    width: 100%;
    height: 8vh;
    padding-top: 20px;
    padding-left: 40px;

}

#descripcionCentral{

    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 40px;
   
}

.spanC{

    color: #575757;
}
.spanAT{

    font-size: 20px;
    text-decoration:line-through;

}
.spanAH{

    font-size: 30px;
}
#divButtonA{

   
    width: 100%;
    height: 10vh;
    padding-top: 20px;
    padding-left: 40px;

}
#buttonCarrito{

    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}
#h5{

    margin-bottom: 0;
}

#descripcionProductoG{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#descripcionProductoS{

    padding-top: 30px;
    width: 90%;

}

                                                    /* STYLES Tabla deseos */
#divTablaG{

    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
 

}
#divTablaC{
    width: 80%;
    height: 95vh;
}
#tituloTabla1{

    width: 100%;
    background: rgb(55 146 232);
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    height: 8vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#iconoTabla{
    display: flex;
    justify-content: center;
    position: relative;
    right: 10px;
}
#divCentralTabla{

    width: 100%;
    height: 80vh;
    display: flex;
    border-radius: 3px;
    /* border: 3px solid black; */
    flex-direction: column;

}
#encajar{
    display: flex;
    /* border: 3px solid rgb(247, 91, 255); */
    height: 75vh;

    
}
#listaP{
    width: 32%;
}

#soyh2{
    padding-top: 4px;
    padding-left: 10px;
    margin-bottom: 0;
    width: 24%;
}
#contenedorTrash{
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;

}
#contenedorSTrash{
    width: 70%;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.contenedorSvg{
   
    width: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    box-sizing: border-box;
}




.lineaTrash{
    margin-top: 2px;
    border: 1px solid black;
    height: 0;
    width: 100%;
}

.lineaA1{

    width: 85%; 
    border: 1.9px solid black;  
    border-left: 0;
    border-right: 0;

}
#listaG.scrollable {
    overflow-y: scroll;
    max-height: 57vh;
 }
 #centrarLista{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    height: 65vh;
 }
 #centrarLista svg{
    margin-bottom: 5px;
   
 }
 .favoritos-svg:hover{
    transform: rotate(360deg);
    transition: 1s;
    
 }
 .listaFavoritos li:hover{
    background: rgba(75, 144, 208, 0.097);
 }

 #encerrarLista{

    margin-top: 10px;
    margin-bottom: 10px;
    border:  1px solid#000000;
    border-radius: 3px;
    width: 80%;
    height: 60vh;
 }
 #productosGeneral{
    height: 75vh;
    width: 75%;
    display: flex;
    align-items: center;

 }
 #productoD{
    /* border: 2px solid red; */
    height: 72vh;
    overflow: auto;
    width: 100%;

}

.cajaPD{

    height: 21vh;
    /* border: 3px solid yellow; */ 
}
.dividirD{
    display:flex;
    /* border: 3px solid palevioletred; */
    height: 18vh;
}
.descripcionP{
    width: 75%;
}
.descripcionP:hover{
    box-shadow: 0px 5px 2px -2px rgba(0,0,0,0.5), 0px 0px 3px 0px rgba(0,0,0,0);

}
.descripcionR{

    width: 100%;
    height: 11vh;
    padding-left: 4px;

}
#comprarTodo{

    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
.buttonComprarTodo{
    background: none;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 53%;

}
.buttonComprarTodo:hover{
    color: rgb(81, 163, 99);
}
#lineaLateral{

    width: 0;
    height: 72vh;
    border: 1px solid black;
    position: relative;
    top: 8px;
    right: 14px;
}

#botonesCE{

    display: flex;
    width: 100%;
    height: 6vh;

}
.botonG{

    width: 60%;
    height: 6vh;
    display: flex;
    align-items: center;
    padding-left: 4px;
    gap: 10px;


}
#botonC{

    display: flex;
    justify-self: center;
    width: 30%;
    height: 4.2vh;
    align-items: center;
    
}
.favoritos-p-agregar{

    width: 72%;
    padding-left: 10px;

}

.divImagen{
    width: 25%;
    /* border: 3px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagenProducto{
    
    /* border: 3px solid brown ; */
    width: 90%;
    height: 15vh;
    display: flex;
    align-items: center;

}

#divFooter{

    width: 100%;
    background: rgb(55 146 232);
    border-bottom-right-radius: 10px;
    border-Bottom-left-radius: 10px;
    height: 8vh;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;


}
#footerC {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
#footerC svg{
    display: flex;
    align-items: center;
    
}
#footerG{

    width: 100%;
}
#aLinkProductos{ 

    color: whitesmoke;
}
#aLinkProductos:hover{ 

    color: rgb(39, 44, 44);
    transition: 960ms;
}

                                                    /* STYLES AREA DE ADMINISTRACION */
#bordeG{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;


}

#bordeP{
    /* (izquierda,posicion vertical,tamano de la sombra, cantidad de desenfoque) */
    border: 3px solid black;
    box-shadow: -0px 8px 0px -5px rgba(0,0,0,.2), 0 16px 16px 2px rgba(0,0,0,.14), 0 6px 5px 5px rgba(0,0,0,.12);
    border-radius: 5px;
    width: 80%;
    height: 60vh;
   
}
.hA{

    padding: 4px;
    padding-left: 10px ;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    height: 51px;
   
}
#bordeCa{

    /* border: 3px solid black; */
    border-radius: 5px;
    width: 98%;
    height: 45vh;
    display: flex;
    justify-content: center;
}
#bordeCS{

    width: 98%;
    height: 24vh;
    gap: 12px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    
}
#bordeCG{

    display: flex;
    align-items: center;
    flex-direction: column;
}
#divCa{

    display: flex;
    margin-top: 10px;
    /* align-items: center; */
}
#aImg{

    padding-left: 14px;
}
/* .divButtonA{
} */
.divButtonA{

  width: 150px;
  height: 23vh;
  border: 3px solid rgb(27, 25, 25);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  box-shadow:0 0px 4px 1px rgba(0,0,0,.2), 0 3px 2px rgba(0,0,0,.14), 0 6px 30px 5px rgba(0,0,0,.12);
  
}

.buttonAF{

    width: 120px;
    height: 5vh;
    border: 0;
    border-radius: 8px;
    background: rgb(55 146 232);
    box-sizing: border-box;
}
.divButtonA h3{

    border-radius: 8px;
    color: white;
    text-align: center;
    display: flex;
    height: 5vh;
    align-items: center;
    justify-content: center;
}
.SvgA{
    height: 14vh;
    display: flex;
    align-items: end;


}
.buttonAb{

    height: 7vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

                                                    /* STYLES AREA DE VISTA DE LAS fARMACIA*/

#mainVDF{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}
#divVG{
    width: 98%;
    height: 95vh;
    /* border: 3px solid rgb(0, 0, 0); */
    border-radius: 3px; 
}
                                                  
#tituloF{
     /* LINEA ABAJO */
    width: 100%;
    height: 10vh;
    display: flex;

}
#cotenedorVDF{

    height: 10vh;
    padding-bottom: 14px;
    box-sizing: border-box;
    margin-left: 10px;
    display: flex;
    align-items: end;
}
#contenedorH1{
    box-sizing: border-box;
    display: flex;  
    align-items: end;
    height: 10vh;
    font-size: 22px;


}
#contenedorP h1{

  height: 10vh;
}
.lineaA{

    border: 2.4px solid;  
    height: 4px;
    border-left: 0;
    border-right: 0;
    border-top-color: black;
    border-bottom-color:#7592cd;
}

#seccionGV{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 83vh;
    width: 100%;

}
.seccionCV {

    height: 76vh;
    width: 95%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Deshabilitar la barra de desplazamiento predeterminada en IE 10+ */
    scrollbar-width: none; /* Deshabilitar la barra de desplazamiento predeterminada en Firefox */
}
.seccionCVP{
    /* vistaDatosPersona */
    height: 76vh;
    width: 100%;
    /* border: 3px solid black; */
    overflow-y: scroll;
    -ms-overflow-style: none; /* Deshabilitar la barra de desplazamiento predeterminada en IE 10+ */
    scrollbar-width: none; /* Deshabilitar la barra de desplazamiento predeterminada en Firefox */
}

.seccionCV::-webkit-scrollbar, .seccionCVP::-webkit-scrollbar,#productoD::-webkit-scrollbar,#seccionP::-webkit-scrollbar,.cajaCarritoI::-webkit-scrollbar{
    width: 10px; /* Ancho de la barra de desplazamiento */
}
.seccionCV::-webkit-scrollbar-track, .seccionCVP::-webkit-scrollbar-track,#productoD::-webkit-scrollbar-track,#seccionP::-webkit-scrollbar-track,.cajaCarritoI::-webkit-scrollbar-track{
    background-color: #f3f3f3; /* Color del fondo de la barra de desplazamiento */
}
.seccionCV::-webkit-scrollbar-thumb, .seccionCVP::-webkit-scrollbar-thumb,#productoD::-webkit-scrollbar-thumb,#seccionP::-webkit-scrollbar-thumb,.cajaCarritoI::-webkit-scrollbar-thumb{
    background-color: #bcbcbc; /* Color de la barra de desplazamiento */
    border-radius: 10px;
}

#listaG::-webkit-scrollbar,.subCajaS1::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}
#listaG::-webkit-scrollbar-track,.subCajaS1::-webkit-scrollbar-track {
    background-color: #f3f3f3; /* Color del fondo de la barra de desplazamiento */
}
#listaG::-webkit-scrollbar-thumb,.subCajaS1::-webkit-scrollbar-thumb {
    background-color: #e1e0e0; /* Color de la barra de desplazamiento */
    border-radius: 10px;
}

.lineaAF{
    display: flex;
    align-items: end;
    border: 2.4px solid;  
    height: 4px;
    border-left: 0;
    border-right: 0;
    border-top-color: black;
    border-bottom-color:#7592cd;
}
.buttonEnviar{

    border:0;
    background: #343e48;
    border-radius: 10px;
    width: 48.55%;
    height: 5vh;
    color: white;
    

}

.buttonEnviar2{
    border:0;
    background:#0077ff;
    border-radius: 10px;
    width: 48.55%;
    height: 5vh;
    color: white;
}

#iconsAV{

    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;



}
.divMv{

    display: flex;
    align-items: end;
    justify-content: center;
    height: 5vh;
    width: 40px;
    background: rgb(1, 170, 208);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.buttonEnviar:hover,.buttonEnviar2:hover{

   color: black;
}
#tituloAbajo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#tituloH h2{
    height: 7vh;
    display: flex;
    justify-content: end;
    align-items: end;
    font-size: 40px;
    padding-left: 3px;
    box-sizing: border-box;
}
.Separar{
    margin-left: 5px;
}

/*                                                          STYLES DE TABLA ROLES                       */


.seccionGeneral{
    /* arreglar */
    height: 71vh!important;
}

.subSeccion{

    width: 80%;
    height: 65vh;

}

.subMain{
    /* arreglar */
    width: 45%!important;

}
#iconsH{

    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: end;
    justify-content: end;
    width: 79%;
    gap: 10px ;

}
                                                        /*  END STYLES TABLA ROLES*/

                                /* STYLES AREA DE VISTA DE LAS FACTURAS*/
.facturas-subContenedor{

    width: 50%;
    margin-left: 14px;
}
.facturas-subMain{

    width: 55%;

}
.facturas-iconos{

    width: 25%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 10px;
}

.facturas-centro{

    height: 78vh;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.facturas-scroll{

    height: 76vh;
    width: 85%;
    overflow-y: scroll;
    -ms-overflow-style: none; /* Deshabilitar la barra de desplazamiento predeterminada en IE 10+ */
    scrollbar-width: none; /* Deshabilitar la barra de desplazamiento predeterminada en Firefox */
    max-height: 72vh;
}

.facturas-input-busqueda{
    
    width: 36%;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 0.6rem;
}
.facturas-input-busqueda input{
    
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}



                                /* END STYLES FACTURAS*/



/*                                                                              STYLES CARRITO  */



.tituloCarrito{
        margin-bottom: 0;
        font-size: 50px;
}
.cajaColor{

    width: 16%;
    display: flex;
    gap: 2px;
    justify-content: center;
    background:  rgb(55 146 232);
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
}
.cotenedorIconoC{
    width: 22%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: end;
}
    .contenedorImgLogo{
    width: 90%;
}
.subContenedor{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 78%;
}
.lineaCarritoF{

    display: flex;
    align-items: end;
    border: 2.4px solid;  
    height: 4px;
    border-left: 0;
    border-right: 0;
    border-color:  rgb(1, 170, 208) ;
    border-color: rgb(55 146 232);
}
.contenedorIconoCarrito{

    width: 10%;
    height: 10vh;
    box-sizing: border-box;
    display: flex;
    align-items: end;

}
.contenedorCC{
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    background:  rgb(55 146 232);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.contenedorCC h5{
    margin-bottom: 0rem;
}
.contenedorCentralC{
    width: 71%;
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 12px;
}
.cajaCentralC{
    width: 7.5%;
    background:  rgb(55 146 232);
    background: rgb(1, 170, 208);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    height: 7vh;
    display: flex;
}
.cajaCentralImg{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 65%;
    height: 7vh;
}
.cajaNumero{
    width: 35%;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cajaPrincipalC{
    display: flex;
    width: 100%;
    height: 80vh;
    /* background: rebeccapurple; */

}
.subCajaI{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    /* background: yellow; */

}
.contenedorLineaV{

    display: flex;
    align-items: center;



}
.cajaCarritoI{
    width: 90%;
    height: 75vh;
    overflow-y: scroll;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.subCajaD{
    width: 30%;
    /* background: yellowgreen; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaCarritoD{
        width: 90%;
        /* background: rgb(55 146 232);// programar para despues recortando la imagen y denjando la barra debajo de ella */
        height: 75vh;
        display: flex;
        align-items: center;
}
.cajaLateral{

    width: 100%;
    height: 77vh;
    /* background: white; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    
}
.cajaProductoC{
    display: flex;
    width: 100%;
    height: 25vh;
    margin-bottom: 7.8px;
    /* background: red; */
}
    
.cajaProductoC:hover{
    box-shadow: 0px 3px 3px 0px gray ;
    /* //rgb(1, 170, 208) */
}
.cajaPequenaC{

    /* background: rgb(24, 235, 239); */
    height: 25vh;
    width: 20%;
    /* border: 3px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cajaPequenaS{

    width: 40%;
    height: 25vh;
    /* background: rgb(123, 101, 160); */
    

}
.subCajaS1{
    padding-left: 4px;
    overflow-y: scroll;
    width: 100%;
    height: 17vh;
    /* background: burlywood; */

}
.subCajaS2{

    width: 100%;
    height: 8vh;
    /* background:rgb(47, 229, 6); */
    display: flex;
    align-items: center;
}
.aumentarC{

    width: 60%;
    height: 5vh;
    display: flex;

}
.inputCantidad{
    border-radius: 8px;
    border: none;
    background: rgb(55 146 232) ;
    opacity: 0.9;
    width: 10%;
    font-size: 18px;
    text-align: center;
}
.btnAD{
    font-size: 25px;
    width: 32.5%;
    border: none;
    background: none;
}
.btnRemover{

    background: none;
    border: 2px solid black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
    opacity: 0.5; 
    width: 100%;

}
.divPrecio{
    font-size: 25px;
}
.subBontones{
    display: flex;
    padding-left: 4px;
    gap: 10px;
    width: 100%;

}
.cajasTotal{

    border: 3px solid gray;
    border-radius: 10px;
    width: 63%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.subCajaTotal{
    font-size: 19px;
    height: 3vh;
    display: flex;
}
.subTotalD{
    padding-left: 10px;
    width: 40%;
}
.subTotalP{
    height: 3vh;
    width: 60%;
    display: flex;
    justify-content: end;
    padding-right: 10px;
}
.cajaImgM{
    /* border: 3px solid black; */
    width: 98%;
    height: 46vh;
}
.carrito-pc-ul{
    
    display: flex;
    justify-content: center;
    list-style: none;
    font-size: 19px;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
    padding-left: 0rem;
    gap: 15px;
}
.navSuperiorF {

    background:  rgb(55 146 232);
    height: 6vh;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    
    
}
.navSuperiorF li:hover{
    
    color: rgb(255, 255, 255);
} 
.tituloH{
    width:100%;
    display: flex;
    justify-content: center;

}
.aLinkProductosD:hover{
    color: white;

}
.btnComprarT{
    height: 10vh;
    
}
.btnComprarT button{
    font-size: 18px;
}

/* mirar aca hacia las clases que no se estan utilizando */

.carrito-caja{
     
    height: 25vh;
    width: 100%;
    padding: 1px;
    display: flex;
    border-radius: 30px;
}

.carrito-caja:hover{
    background-color: rgb(251, 248, 248);
}


.carrito-picture{
    padding: 5px;
    border-radius: 3px;
    width:25%;
    height: 100%;
  
}
.carrito-cajaMediana{ 
    width: 75%;
}
.carrito-subCajaArriba{
    width: 100%;
    height: 16vh;
    padding: 5px;
}

.carrito-subCajaAbajo{
    display: flex;   
}

.carrito-subCaja1{
    width: 65%;
    height: 8vh;
    display: flex;
    align-items: center;
    padding-left: 8px;
    gap: 5px;
}
.carrito-subCaja1 strong{
    font-size: 22px;
}

.carrito-subCaja1 input{
    border-radius: 3px;
    width: 35%;
    border: 1px solid black;
    height: 4.5vh;
    font-size: 20px;
    padding: 5px;
}
.carrito-subCaja1-1{
    width: 30%;
    height: 6vh;
    display: flex;
    align-items: center;
    gap: 10px;
}


.carrito-subCaja2{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrito-subCaja2 strong{
    font-size: 22px;
}

.carrito-info {
    width: 30%;
    padding-left: 20px;
}

.carrito-subInfo {
    height: 30vh;
    width: 88%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    color: white;
    background-color: rgb(55 146 232);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 25px;
    padding-top: 24px;
}


.carrito-subHeader{

   width: 100%; 
}

.carrito-contenedorInfo{
    display: flex;
}

.carrito-descripcion {
    flex: 1;
    width: 32%;
}

.carrito-imagen  {
    width: 90%;
    border-radius: 10px;
      
}

.carrito-imagen-animada{
    width: 100%;

}
.carrito-contenedorImagen {
   
    width: 68%;
}
.carrito-btnPagar{

    width: 26%;
    height: 10vh;
    display: flex;
    align-items: center;

    
}
.carrito-btnPagar strong{
    font-size: 21px;
    color: white;
}


.carrito-btnActualizar{
    display:none; 
    background-color:transparent;
    border: none;
    width: 55%;
    height: 70%;
    text-decoration: underline;
    border-radius: 10px;
    font-size: 17px;
}


.carrito-btnRemover{

    
    border: none;
    background-color: transparent;
    text-decoration: underline;
    color: rgb(204, 108, 108);

}

.carrito-scroll{

    overflow-y: scroll;
    max-height: 17vh;

}

.carrito-scroll::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
}

.carrito-scroll::-webkit-scrollbar-thumb {
    background-color: #b4b2b2; /* Color del pulgar de la barra de desplazamiento */
    border-radius: 8px; /* Radio de los bordes del pulgar */
}


.carrito-scroll::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color de la pista de la barra de desplazamiento */
    border-radius: 8px; /* Radio de los bordes de la pista */
}



/*                                                                              END STYLES CARRITO  */





                                        /*////////////////////////////////////     CLASES REUTILIZABLES         \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
                                        
                                        
                                        
 .encabezadoGris{
            
      background: rgba(0, 0, 0, 0.05);
 
}

.fondon-gris-oscuro{

    background-color: rgb(220, 220, 220);

}


            /* gap */
.gap4{
    display: flex;
    gap: 4px;
}

.gap-10px{
    gap: 10px;
}

/*           widths         */
.width86{
    width: 86%;
}
.width82-2{
    width: 82.2%;
}
.width72{

    width: 72%;

}
.width60{
   width: 60%; 
}

.width65px{

    width:65px;

}

.width15{

    width: 15%;

}

                    /* heights */

.height65px{

    height: 65px;
}
.height30px{
    height: 30px;
}



                 /* disabled  */

.colorDisabled{
    background-color: #f0f0f0;
    cursor: not-allowed;
    border: 1px solid #ccc;
}
                /* colores */
.text-red{
    color: red;
}
.color-white{

    color: white;
}

                /* centrar */


.text-center{

    text-align: center;
}

                /* display */
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}
                /* align */

.align-items-end{
    align-items: end;
}
                /* justify-content */
.justify-content-end{
    justify-content: end;
}   
.justify-content-space-between{
    justify-content: space-between;
}

                    /* decoracion  */


.list-style-type-none{
    list-style: none;
}
.h-text-decoration-underline:hover{
    text-decoration: underline;
}


            /* hover */
.h-color-red:hover{
    color: red;
}




                /* buttons */


.boton-gris{
    width: 20%;
    height: 45%;
    border-radius: 5px;
    border: 1px solid black;
}


.boton-gris:hover{
  background-color: #d8d1d1;
}

                /* padding */
.pdg-r-16px{

    padding-right: 16px;

}



                /* STYLES FOR PHONE  */

.celular-ul ,.favoritos-svg-lista  {
    display: none;
}

.display-online-block{
    display: inline-block;
}



                /* END STYLES  */





/* RESPONSIVE */

@media screen and (max-width: 768px) {

    /* Reponsive inicio */

    #barraLateralG , .ulPc ,  .areaCentral ,  #navSuperior , .areaHeaderG , #iconoS , #tituloA{
        display:  none;
    }

    .inicio-main{
        height: 80%;

    }
    #menuSecundario{
        display :block ;
    }

    #seccionP{
        display: grid;
        overflow-y: auto;
        grid-template-columns:  auto ;


    }

    #parteP{
        margin-top: 0; 
        margin-left: 0;
        z-index: 0;
        width: auto;
    }
    #iconoP img{
        margin-left: 7px;
        height: 38px;
        width: 38px;
    }
    
    
    #soyh1 {
        
        text-align: start;
        font-size: 40px;
        margin-bottom: 0;
        

    }

    #iconoG{

        width: 60%;
        display: flex;
        justify-content: end;
        padding-right: 10px;
    }

    #navBar{

        width: 52%;

    }

    .celular-ul{

        display: flex;
        margin: 0;
        font-size: 10px;
        padding-left: 0;
        width: 100%;
        gap: 18px;
        justify-content: center;
        height: 100%;
        line-height: 50px;
    }
    
    .celular-ul li{
        list-style: none;
        font-size: 20px;

    }
    
    #seccionProductos {
    
        width: 100%;
    }

    .imgsG{
        width: 85%;
        height: 200px;
    }

    /* .buttonAgregar{
        width: 21%;
    } */

    .divSeccion{

        height: 50vh;
    }

    .cajas{
        height: 47vh;
    }

    #divContactG{
        display: flex;
        flex-direction: column;
        height: 20vh;
        align-items: center;
        gap: 10px;
    }
    #divCR1{

        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #divCR2{
        width: 100%;

    }

    #divRGE{
        justify-content: center;
    }
    .aSvg:hover{

        transition: 50ms;
    }

    /* responsive login */
    .login-body{
        height: 75vh;
    }
    
    #iconoForm{
        position: static;
        right: 0;
        width: 30%;
        display: flex;
        justify-content: end;
        padding-right: 10px;
    }
    
    .login-img{

        width: 62px;
        height: 62px;
        display: flex;
        justify-content: end;
        
    }
    
    .login-titulo{
        text-align: start;
        font-size: 34px;
        width: 70%;
    }
    .inputsForm{
        width: 75%;
    }
    /*  pxsss */

    #divContainer{
        height: 624px;
    } 

    #divFormulario{
        width: 93%;
        height: 560px;
    }
    
    #tituloForm {

        height: 134px;
    }
    .areainputsG{
        height: 389px;
    }
    #plbIngresar h2{

        height: 80px;

    }

    .areaInputForm{

        height : 70px;

    }
    .inputsForm {

        height: 40px;

    }

    .olvidarContrasena{

        height: 30px;

    }
    .divButtonIngresar{

        height: 70px;

    }

    .buttonIngresarF {

        height: 40px;
    }

    /* resposive crear cuenta  */
    
   

    .labelid {
        margin-left: 29px;
    }

    #divTablaC{
        width: 95%;
        height: 98vh;
    }
    
    /* pxsss */

    #bodyResgistroC{

        height: 95vh;

    }

    #divFormulario2{
        height: auto;
        width: 94%;
    }

    #divContainer2{
        height: 832px;

    }
    .divInputsC{
        height: 89px;
    }
    .cajaInps{

        height: 40px;

    } 
    .divAB{
        height: 44px;
    }
    .divGid{
        height: auto;
        /* height: 76px; */
    }
    .inputId{
        height: 44px;
    }

    .registro-small{

        margin-left: 10px;
    }

    .divInputsC2{

        margin-top: 19px;
        height: 80px ;
    }

    #divTerminos{

        height: 40px;
        line-height: 15px;
    }
    .divButtonIn{

        height: 80px;
    }
    .buttonIngresarF h3{

        height: 20px;

    }
    /* responsive favoritos */

    #lineaLateral{

        display: none;
    
    }

    #contenedorSTrash {
        width: 13%;
    }

    #soyh2{
        width: 82%;
        font-size: 19px;
    }
    #contenedorSTrash {
        width: 16%;

    }
    .contenedorSvg {
        width: 35px;
    }
    
    .img-favoritos{

        width: 28px;
        height: 28px;
        margin-bottom: 5px;
    }

    #iconoTabla{
        width: 12%;
        position: static;
    }
    .favoritos-titulo{
        margin-bottom: 0;
    }

    .formVentana {

        width: 83%!important;
    }
    #productosGeneral {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    #productoD {
        width: 96%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: scroll; 
        scrollbar-width: none;
        align-items: center;
    }

    .favoritos-link-nombre{
        height: 43px;
    }
    
    .favoritos-nombreProducto-h{
        padding-top: 10px;
        padding-left: 10px ;
    }

    .favoritos-mensaje-login{
        font-size: 17px;
        padding: 10px;
    }

    .descripcionP {
        order: 2;
    }

    .divImagen{
        width: 100%;
        height: 29vh;
        display: flex;
        justify-content: center;
    }

    .cajaPD{

        height: 65vh;

    }

    .dividirD{
        flex-direction: column;
        height:65vh;
        border-radius: 10px;
    }
    
    .imagenProducto{
        width: 90%;
        height: 30vh;
    }
    
   

    .favoritos-caja-producto{
        margin-top: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.75);
        width: 95%;
        height: 64vh;
    }

    .descripcionP{
        padding: 10px;
        height: 30vh;
        width: 100%;
    }

    .descripcionP:hover{
        box-shadow: none;
    }
    .descripcionR{

        height: 20vh;
    }
    
    #botonC{
        width: 35%;

    }
    .botonG{
        width: 91%;
        height: 66px;
    }

    .favoritos-img-producto{
        height: 93%;
    }

    #footerC {
        gap: 10px;
    }
    .favoritos-svg-lista{
        display: block;

    }

    #listaP{

        visibility: hidden;
        display: flex;
        height: 100vh;
        width: 100%;
        background: rgb(0,0,0,0.3);
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
        transition: .3s ease all;
      
    }
    #listaP.active{
        opacity: 1;
        visibility: visible;
    }

    #encerrarLista{

        background-color: white;

    }
    .favoritos-p-disponible{

        color: white;
    }
    #centrarLista , .favoritos-div-comprar{
        width: 100%;
    }

    #centrarLista{
        margin-top: 0;
        height: 72vh;
    }


    .favoritos-svg-x{
        display: block!important;
    }

    .lineaA1{
        border : 2px solid black;
        border-top: 0;
    }

    /* rensponsive carrito */
    #mainVDF{
        height: 797px;
    }


    .cajaColor , .carrito-pc-ul{
        display: none;
    }

    
    .cotenedorIconoC {
        width: 30%;
        height: 5vh;
        
    }

   
    .contenedorCentralC{
        width: 52%;

    }

    .contenedorCC {

        height: 38px;
    }
    .cajaCentralC{
        width: 40%;
        height: 45px;
    }

    .cajaCentralImg{
        height: 45px;
    }

    .carrito-img-carrito{

        width: 85%;
        height: 42px;

    }

    .subCajaI {
        width: 100%;
    }
    .cajaCarritoI {
        width: 98%;
        height: 640px;
        max-height: 630px;
    }
    .navSuperiorF{
        width: 63%;
        height: 38px;
    }
    .carrito-celular-ul{
        display: flex;
        align-items: center;
        padding-left: 0;
        margin-bottom: 0;
        font-size: 20px;
        gap: 10px;
    }
    
    .cajaPrincipalC{
        height: 650px;
    }

    .carrito-caja{

        margin-top: 10px;
        display: block;
        height: 605px;
        /* background-color: rebeccapurple; */
    }

    .carrito-imagen-producto{
        margin-top: 10px;
        width: 86%;
        

    }

    .carrito-cajaMediana{

        width: 98%;
        
    }
    .carrito-subCajaArriba{
        height: 216px;
        padding-top: 10px;
        padding-left: 17px;
        padding-right: 8px;
    }
   

    .carrito-picture{

        width: auto;
        height: 250px;
        display: flex;      
        justify-content: center;
    }

    .carrito-subCajaAbajo{

        display: block;

    }

    .carrito-subCaja1{
        padding-left: 17px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-right: 13px;
        height: 50px;

    }
    
    .carrito-subCaja1-1{
        width: 50%;
        height: 40px;
    }
    
    .carrito-subCaja1 input{
        width: 32%;
        height: 38px;

    }

    .carrito-info{
        display: none;
        width: 100%;
        z-index: 2;
        position: absolute;
        left: 0;

    }

    .carrito-info.active{
        display: block;

    }

    .carrito-subInfo{

        width: 93%;
        padding-left: 16px;

    }

    .carrito-imagen-animada{
        width: 59%;
        position: absolute;
        right: 18px;
        top: 11vh;

    }

    .carrito-descripcion {
        flex: none;
        width: 90%;
    }

    .carrito-svg-x{
        display: block;
    }
    
    .carrito-li-factura{
        color: black;
    }

    .lineaCarritoF{
        border-top: 0;
        border-bottom: 4.3px solid  rgb(55 146 232);
    }


    /* pxssss */

    .carrito-body{

        height: 100vh;

    }
    #divVG{
        height: 783px;

    }

    
    #tituloF {
        height: 46px;
        align-items: end;
        /* position: sticky; */
    }

    .contenedorIconoCarrito{
        height: 45px;
        width: 48%;
    }   

    .divMv{

        height: 37px;
    }


    }



@media screen and (max-width: 350px) {

    .formVentana {
        width: 83%!important;
        height: 23vh!important;

    }
    .ventanaBotones{
        height: 9vh!important;


    }


}
/* reponsive para cululares mas pequenos */

