<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.js') }}"></script> 
</head>


<body class="carrito-body">
    <main id="mainVDF">
        <div id="divVG">

            <div id="tituloF">
                <div class="cajaColor">
                    <div class="cotenedorIconoC">
                        <div class="contenedorImgLogo">
                            <img src="{{url_for('static',filename = 'imagenes/logoQ1.png')}}" class="carrito-img-logo" alt="logo" width="100%"
                                height="48px">
                        </div>
                    </div>
                    <div id="contenedorH1" class="Separar subContenedor">
                        <h1 class="tituloCarrito">Farmacit</h1>
                    </div>
                </div>
                <div class="contenedorIconoCarrito">
                    <div class="contenedorCC">
                        <h5>Carrito compras</h5>
                    </div>
                </div>
                {% set tamano = productos|default([])|length %}
                <div class="contenedorCentralC">
                    <div class="cajaCentralC">
                        <div class="cajaNumero">
                            <span>{{tamano}}</span>
                        </div>
                        <div class="cajaCentralImg">
                            <img class="carrito-img-carrito" src="{{url_for('static',filename = 'imagenes/carrito-de-compras.png')}}" alt="logo"
                                width="100%" height="50px">
                        </div>
                    </div>
                    <div class="divMv">
                        <a href="{{url_for('bp_inicio.index')}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="lineaCarritoF"></div>
            <div class="cajaPrincipalC">
                <div class="subCajaI">
                    <div class="cajaCarritoI">

                        {% if current_user.is_authenticated %}

                        
                        {% for (carrito, producto, imagen) in productos %}

                        <div class="carrito-caja">
                            <a class="carrito-picture" href="{{ url_for('bp_producto.index', idProducto=producto.idProducto) }}">
                                <img class="carrito-imagen" src="{{url_for('static',filename = 'imagenes/'+imagen.nombreImagen)}}"
                                    alt="{{producto.nombreProducto}}" width="100%" height="100%" />
                            </a>
                            <div class="carrito-cajaMediana">
                                <div class="carrito-subCajaArriba">
                                    <a href="{{ url_for('bp_producto.index', idProducto=producto.idProducto) }}">
                                        <h6>{{producto.nombreProducto}}</h6>
                                    </a>
                                    <p>{{producto.descripcionProductoGeneral[:290]}}.etc</p>

                                    <div class="carrito-stock">
                                        {% if producto.stockProducto <= 20 %} <small class="text-red smallStock">stock en linea
                                            {{producto.stockProducto}}</small>

                                        {% endif%}
                                    </div>

                                </div>
                                <div class="carrito-subCajaAbajo">
                                    <div class="carrito-subCaja1">
                                        <div class="carrito-subCaja1-1">
                                            <input class="carrito-inputCantidad" maxlength="3" read autocomplete="off"
                                                type="text" value="{{carrito.cantidadCarrito}}">
                                            <button type="button" class="carrito-btnActualizar ">
                                                Actualizar
                                            </button>
                                            <input type="hidden" class="carrito-inputStock"
                                                value="{{producto.stockProducto}}">
                                            <input type="hidden" class="carrito-inputIdCarrito"
                                                value="{{carrito.idCarrito}}">
                                        </div>
                                        <form action="{{url_for('bp_carrito.eliminarCarrito')}}" method="post"
                                            class="formEliminar">
                                            <input type="hidden" name="fIdCarrito" value="{{carrito.idCarrito}}">
                                            <button class="carrito-btnRemover">Remover producto</button>
                                        </form>
                                    </div>
                                    <div class="carrito-subCaja2">
                                        <strong>${{producto.precioProducto}}$</strong>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                        
                        {% if tamano == 0 %}
                        <div class='alert alert-dark-tranparent' role='alert'>
                            <h5>Tu carrito está vacío</h5>
                        </div>
                        {% endif %}


                        {%else : %}
                        <div class='alert alert-dark-tranparent' role='alert'>
                            <h5>Tu carrito está vacío, inicia session <a href='{{url_for("bp_login.login")}}'
                                    style='text-decoration: underline; opacity: 0.6;'>aquí</a> para poder agregar
                                productos.</h5>
                        </div>
                        {%endif%}

                    </div>
                </div>
                <div class="carrito-info">
                    <div class="carrito-subInfo">

                        {% if diccionario != undefined : %}

                        {% set subtotal = diccionario["subtotal"] %}
                        {% set cantidad = diccionario["cantidadFinal"] %}
                        {% set iva = diccionario["iva"] %}
                        {% set total = diccionario["total"] %}

                        {% else: %}

                        {% set subtotal = 0 %}
                        {% set cantidad = 0 %}
                        {% set iva = 0 %}
                        {% set total = 0 %}

                        {% endif %}

                        <div class="carrito-subHeader display-flex justify-content-space-between pdg-r-16px ">
                            <p class="carrito-subtotal ">Subtotal {{ subtotal }}</p>
                           
                            <svg id="svgCerrar" class=" carrito-svg-x color-white h-color-red display-none"   xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                             fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                <path
                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                            </svg>
                        </div>
                        <div class="carrito-contenedorInfo">
                            <div class="carrito-descripcion">
                                <p class="carrito-cantidad">Cantidad {{cantidad}}</p>
                                <p class="carrito-iva">Iva {{iva}}</p>
                                <strong class="carrito-total">Total {{total}}</strong>
                            </div>
                            <div class="carrito-contenedorImagen">
                                <img src="/static/imagenes/chicaAnimada.png" class="carrito-imagen-animada" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="carrito-btnPagar">
                        
                        {% if current_user.is_authenticated %}
                            {% if tamano >= 1 : %}
                            <a href="{{url_for('bp_factura.index')}}" class="btn btn-primary">
                                <strong>Pagar</strong>
                            </a>
                            {%else: %}
                            <a class="btn btn-primary" style="color: white;" href="{{url_for('bp_inicio.index')}}"
                                role="button">
                                <strong>Agregar</strong>
                            </a>
                            {% endif %}

                        {%else : %}
                        <a  href="{{url_for('bp_inicio.index')}}" class="btn btn-primary">
                            <strong>Agregar</strong>
                        </a>
                        {% endif %}
                    </div>
                    {% if productosAgotados %}
                        <div>
                            
                            <div class="toast fade show" style="margin-top: 50px;" role="alert"  aria-live="assertive" aria-atomic="true">

                                <div class="toast-header">
                                  
                                  <strong class="me-auto text-red">Productos agotados</strong>
                                  
                                  <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>
                                <div class="toast-body carrito-scroll" >
                                    {% for valor  in productosAgotados%}
                                        <li>{{ valor }}</li>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    

                </div>

            </div>
            <div class="lineaCarritoF"></div>
            <div class="tituloH">
                <nav class="navSuperiorF">
                    <ul class="carrito-pc-ul">
                        <li><a href="{{url_for('bp_favoritos.index')}}" class="aLinkProductosD">Productos deseados</a></li>
                        <li><a href="{{url_for('bp_inicio.index')}}" class="aLinkProductosD">Seguir comprando</a></li>
                        <li><a href="#" class="aLinkProductosD">Servicios</a></li>
                        <li><a href="#" class="aLinkProductosD">Destacados</a></li>
                    </ul>

                    <ul class="carrito-celular-ul display-none list-style-type-none">
                        <li > <a class="aLinkProductosD" href="{{url_for('bp_favoritos.index')}}">favoritos</a></li>
                        <li class="carrito-li-factura" class="aLinkProductosD" >factura</li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</body>

<script src="{{url_for('static', filename='scripts/agregados/carrito.js' )}}"></script>
{% with mensajes = get_flashed_messages(with_categories=true) %}
{% for categoria, mensaje in mensajes %}
    {% if categoria == 'stockSuperado' or categoria == 'sinStock' or categoria == 'compraExito'%}
        <script>mostrarMensaje();</script>
    {% endif %}
{% endfor %}
{% endwith %}

</html>