<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de Compras</title>
   
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0/css/bootstrap.css') }}">
</head>

<body>
    <main id="mainVDF">
        <div id="divVG">

            <div id="tituloF">
                <div class="cajaColor">
                    <div class="cotenedorIconoC">
                        <div class="contenedorImgLogo">
                            <img src="{{url_for('static',filename = 'imagenes/logoQ1.png')}}" alt="logo" width="100%" height="48px">
                        </div>
                    </div>
                    <div id="contenedorH1" class="Separar subContenedor">
                        <h1 class="tituloCarrito">Farmacit</h1>
                    </div>
                </div>
                <div class="contenedorIconoCarrito">
                    <div class="contenedorCC">
                        <h5>Carrito compras</h5>
                    </div>
                </div>
                {% set tamano = productos|default([])|length %}
                <div class="contenedorCentralC">
                    <div class="cajaCentralC">
                        <div class="cajaNumero">
                            <span>{{tamano}}</span>
                        </div>
                        <div class="cajaCentralImg">
                            <img src="{{url_for('static',filename = 'imagenes/carrito-de-compras.png')}}" alt="logo" width="100%"
                                height="50px">
                        </div>
                    </div>
                    <div class="divMv">
                        <a href="{{url_for('bp_inicio.index')}}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                                class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path
                                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                                <path
                                    d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="lineaCarritoF"></div>
            <div class="cajaPrincipalC">
                <div class="subCajaI">
                    <div class="cajaCarritoI">

                        {% if current_user.is_authenticated %}                           
                            {% for carrito, producto, imagen in productos %}
    

                                <div class="carrito-caja">
                                    <a  class="carrito-picture" href="#">
                                        <img src="{{url_for('static',filename = 'imagenes/'+imagen.nombreImagen)}}" alt="{{producto.nombreProducto}}"  width="100%" height= "100%" />
                                    </a>
                                    <div class="carrito-cajaMediana">
                                        <div class="carrito-subCajaArriba">
                                            {{producto.descripcionProductoGeneral[:600]}}
                                            
                                            <div class="carrito-stock">
                                                {% if producto.stockProducto <= 20  %}
                                                    <small class="text-red" >stock en linea {{producto.stockProducto}}</small>

                                                {% endif%}
                                            </div>
                                            
                                        </div>
                                        <div class="carrito-subCajaAbajo">
                                            <div class="carrito-subCaja1">
                                                <div class="carrito-subCaja1-1">
                                                    <input  class="carrito-inputCantidad" type="text" value="{{carrito.cantidadCarrito}}">
                                                    <button type="button" class="carrito-btnActualizar " >Actulizar</button>
                                                    <button  type="button" class="btn btn-secondary " type="reset" >Reset</button>
                                                    <input type="hiddien" class="carrito-inputStock" value="{{producto.stockProducto}}">
                                                </div>
                                                <form action="{{url_for('bp_carrito.eliminarCarrito')}}" method="post" class="formEliminar">
                                                    <input type="hidden" name="fIdCarrito" value="{{carrito.idCarrito}}">
                                                    <button class="btn btn-danger">Eliminar</button>
                                                </form>
                                            </div>
                                            <div class="carrito-subCaja2">
                                                <strong>${{producto.precioProducto}}$</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>    
                            
                            {% endfor %}

                            {% if tamano == 0 %}
                                <div class='alert alert-dark-tranparent' role='alert'>
                                    <h5>Tu carrito está vacío</h5>
                                </div>
                            {% endif %}
                          

                        {%else : %}
                            <div class='alert alert-dark-tranparent' role='alert'>
                                <h5>Tu carrito está vacío, inicia session <a href='{{url_for("bp_login.login")}}' style='text-decoration: underline; opacity: 0.6;'>aquí</a> para poder agregar productos.</h5>
                            </div>
                        {%endif%}

                    </div>
                </div>
                <div class="carrito-info">
                    <div class="carrito-subInfo">
                        
                        {% if diccionario != undefined : %}

                            {% set subtotal = diccionario["subtotal"] %}
                            {% set cantidad = diccionario["cantidadFinal"] %}
                            {% set iva = diccionario["iva"] %}
                            {% set total = diccionario["total"] %}

                        {% else: %}
                            {% set subtotal = 0 %}
                            {% set cantidad = 0 %}
                            {% set iva = 0 %}
                            {% set total = 0 %}
                        
                        {% endif %}
                      
                        <div class="carrito-subHeader">
                            <p>Subtotal {{ subtotal }}</p>
                        </div>
                       <div class="carrito-contenedorInfo">
                            <div class="carrito-descripcion">
                                <p>Cantidad {{cantidad}}</p>
                                <p>Iva {{iva}}</p>
                                <strong>Total {{total}}</strong>
                            </div>
                            <div class="carrito-contenedorImagen">
                                <img src="/static/imagenes/chicaAnimada.png" class="carrito-imagen" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="carrito-btnPagar">
                        {% if current_user.is_authenticated %}  
                            
                            {% if tamano >= 1 : %}
                                <button class="btn btn-primary">
                                    <strong>Pagar</strong>
                                </button>
                            {%else: %}
                            <a class="btn btn-primary" style="color: white;" href="{{url_for('bp_inicio.index')}}" role="button">
                                <strong>Agregar</strong>
                            </a>
                            {% endif %}

                        {%else : %}
                            <button class="btn btn-primary">
                                <strong>Agregar</strong>
                            </button>
                        {% endif %}
                    </div>
                  
                </div>
                    <!-- <button type="button" class="btn btn-primary" id="btnCT">Comprar todo</button> -->
                
            </div>
            <div class="lineaCarritoF"></div>
            <div class="tituloH">
                <nav class="navSuperiorF">
                    <ul>
                        <li><a href="tablaProductoDeseado.php" class="aLinkProductosD">Productos deseados</a></li>
                        <li><a href="index.php" class="aLinkProductosD">Seguir comprando</a></li>
                        <li><a href="index.php" class="aLinkProductosD">Servicios</a></li>
                        <li><a href="index.php" class="aLinkProductosD">Destacados</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </main>
</body>    

<script>
    
    //eventos 

    //inputs

    let inputs = document.querySelectorAll(".carrito-inputCantidad");
    inputs.forEach(function(input) {
        input.addEventListener("click", function(event) {
            event.preventDefault(); // Evitar el comportamiento predeterminado del evento
            //se seleciona dentro del contenedor el btn a actualizar 
            let botonActualizar = input.closest(".carrito-subCaja1-1").querySelector(".carrito-btnActualizar");
            // var botonActualizar = input.parentNode.querySelector(".carrito-btnActualizar");

            if (botonActualizar.style.display != "block") {
                botonActualizar.style.display = "block"; 
            }
            cantidad = input.value
            console.log("click input-cantidad : "+input.value);
        });
    });

    //botones
    const botones = document.querySelectorAll("button.carrito-btnActualizar");
    botones.forEach(function(boton) {
        boton.addEventListener("click", function(event) {
            event.preventDefault();  // Evitar el comportamiento predeterminado del evento
            console.log("click btn-actualizar ");

            const input = boton.closest(".carrito-subCaja1-1").querySelector(".carrito-inputCantidad");
            console.log(" cantidad input  : " + input.value);
            const stockProducto = boton.closest(".carrito-subCaja1-1").querySelector(".carrito-inputStock");
            
            verificacion(input.value, stockProducto.value);
        });
    });



    function verificacion(cantidadAsociada,stockProducto) {
        
            //se seleciona dentro del contenedor el btn a actualizar 
            console.log("cantidadddddddd : "+cantidadAsociada)
            console.log("stock-productoooooooo : "+stockProducto)
            
        
        let resultado = (function(cantidadAsociada,stockProducto) {//función IIFE para encapsular

            // Expresión regular que coincide con cualquier cosa que no sea un número
            var expresionRegular = /[^0-9]/;

            // Verificar si la cadena contiene caracteres que no son números
            let test =  expresionRegular.test(cantidadAsociada); // true a2b4ca, false 123123 

            let bandera = false;

            if(!(test)){//false

                var cantidad = parseInt(cantidadAsociada, 10);
                if(stockProducto > 0){

                    if (cantidad <= stockProducto) {

                        if (!isNaN(cantidad) && cantidad > 0) {
                            bandera = true;
                        }

                    }else{

                        bandera = null;
                    }
                }else{
                    window.location.reload();
                }
            }

            return bandera;

        })(cantidadAsociada,stockProducto);

        return resultado;
    }
       


    


    //---cuando se actulize la cantidad en el servidor en ajax poner otra vez el btn oculto 

    
</script>
</html>
