<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<body>
    <main>
        <div id="divContainer">
            <div id="divFormulario">

            <!--  action="../controlador/controladorInicioSession.php"   PONER LA VISTA DE REGISTRO EXIOSO YA PUEDE INICIAR SESION  -->
            <form  class = "formulario" action="{{url_for('bp_login.autenticacion')}}"  method="POST" >

                    <div id="tituloForm">
                        <div id="iconoForm">
                            
                            <img class="login-img" src="{{url_for('static',filename = 'imagenes/logoQ1.png')}}" alt="logo" width="70px" height="70px" />

                        </div>
                        <div class="login-titulo">
                            <h1>Farmacit</h1>
                        </div>
                    </div>
                    <div class="areainputsG">

                        <div id="plbIngresar">
                            <h2>Ingresa a tu cuenta</h2>
                        </div>

                        {% with mensajes = get_flashed_messages(with_categories=true) %}
                        {% for categoria, mensaje in mensajes %}
                            {% if categoria == 'invalidados' %}
                             <h5 style="font-size: 18px; color: red;" id="datosInvalidos"  role="alert">{{mensaje}}</h5>
                             <script>
                                function remplazarValor() {
                    
                                    mensajeH5 = document.getElementById("datosInvalidos").value
                                    if (mensajeH5 !== 'undefined') {
                                        document.getElementById("datosInvalidos").innerHTML = "";
                                    }
                                } 

                             </script>

                            {% endif %}
                        {% endfor %}
                        {% endwith %}



                        <div class="areaInputForm">
                            <input type="text" placeholder="Correo electronico "  class="inputsForm" name="emailDocumento" id="DocumentoCorreo" onclick="remplazarValor()" >
                        </div>
                        <div class="areaInputForm">
                            <input type="password" placeholder="Contraseña" class="inputsForm" name="contrasena" id="contrasena" onclick="remplazarValor()"  >
                        </div>
                        <div class="olvidarContrasena">
                            <h3><a href="">¿Olvido la contraseña?</a></h3>
                        </div>
                        <!--en este div cambie la clase--> 
                        <div class="divButtonIngresar" >
                            <button class="buttonIngresarF" style="font-family: inherit; font-size: 18px;" type="submit"  name="btnIngresar" value="iniciarSession"  > 
                            
                            <h3>Ingresar</h3>
                            </button> 

                        </div>
                        <div id="divCrearC">
                            <p>¿No tienes una cuenta?<a href="{{url_for('bp_crear_cuenta.crearCuenta')}}" class="linkCuenta"><h4>Crear una cuenta</h4></a></p>
                           
                        </div>
                        

                    </div>
                </form>

            </div>
           


        </div>
        
        {% with mensajes = get_flashed_messages(with_categories=true) %}
        {% for categoria, mensaje in mensajes %}
            {% if categoria == 'exito' %}
            <script>
                // Función para mostrar una alerta después de cargar completamente la página
                window.onload = function() {
                    window.setTimeout(function(){
                        alert("{{mensaje}}");
                    }, 500); 
                };

                //50mls
            </script>
            {% endif %}
        {% endfor %}
        {% endwith %}
        
    </main>
</body>

    <script>
    
           
             function cambiarColor(){



                    const colorOriginal = "rgb(118, 118, 118)";
                    let inputCorreo = document.querySelector("#DocumentoCorreo");


                    inputCorreo.addEventListener("input", function(event) {
                       inputCorreo.style.borderBottomColor = "black";
                    });

//                    Agrega un evento de blur al input
                    inputCorreo.addEventListener("blur", function() {
//                    Cambia el color del input al original  
                      inputCorreo.style.borderBottomColor = colorOriginal;  
                                                                        
                   });
                   

                    let inputContrasena = document.querySelector("#contrasena");

                    inputContrasena.addEventListener("input", function(event) {
                       inputContrasena.style.borderBottomColor = "black";
                    });

//                    Agrega un evento de blur al input
                    inputContrasena.addEventListener("blur", function() {
//                     Cambia el color del input al original  
                      inputContrasena.style.borderBottomColor = colorOriginal;                                               
                   });
 
              }
             
                
                
    </script>
</html>
