<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

</head>

<body class="login-body">
    <main>
        <div id="divContainer">
            <div id="divFormulario">
            <form  class = "formulario" action="{{url_for('bp_login.autenticacion')}}"  method="POST" >

                    <div id="tituloForm">
                        <div id="iconoForm">
                            
                            <img class="login-img" src="{{url_for('static',filename = 'imagenes/logoQ1.png')}}" alt="logo" width="70px" height="70px" />

                        </div>
                        <div class="login-titulo">
                            <h1>Farmacit</h1>
                        </div>
                    </div>
                    <script src="{{url_for('static', filename='/scripts/autenticacion/login.js' )}}"></script>
                    <div class="areainputsG" onclick="cambiarColor()">

                        <div id="plbIngresar">
                            <h2>Ingresa a tu cuenta</h2>
                        </div>

                        {% with mensajes = get_flashed_messages(with_categories=true) %}
                        {% for categoria, mensaje in mensajes %}
                            {% if categoria == 'invalidados' %}
                                <h5 style="font-size: 18px; color: red;" id="datosInvalidos" role="alert">{{mensaje}}</h5>
                            {% endif %}
                        {% endfor %}
                        {% endwith %}



                        <div class="areaInputForm">
                            <input type="text" placeholder="Correo electronico "  class="inputsForm" name="emailDocumento" id="DocumentoCorreo" onclick="remplazarValor()" required>
                        </div>
                        <div class="areaInputForm">
                            <input type="password" placeholder="Contraseña" class="inputsForm" name="contrasena" id="contrasena" onclick="remplazarValor()" required>
                        </div>
                        <div class="olvidarContrasena">
                            <h3><a href="">¿Olvido la contraseña?</a></h3>
                        </div>
                        <div class="divButtonIngresar" >
                            <button class="buttonIngresarF" style="font-family: inherit; font-size: 18px;" type="submit"  name="btnIngresar" value="iniciarSession"  > 
                            
                            <h3>Ingresar</h3>
                            </button> 

                        </div>
                        <div id="divCrearC">
                            <p>¿No tienes una cuenta?<a href="{{url_for('bp_crear_cuenta.crearCuenta')}}" class="linkCuenta"><h4>Crear una cuenta</h4></a></p>
                           
                        </div>
                        

                    </div>
                </form>

            </div>
        </div>
        
        {% with mensajes = get_flashed_messages(with_categories=true) %}
        {% for categoria, mensaje in mensajes %}
            {% if categoria == 'exito' %}
            <script>mostrarAlerta(mensaje="{{mensaje}}");</script>
            {% endif %}
        {% endfor %}
        {% endwith %}
        
    </main>
</body>
</html>
