<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>verificación de correo eletronico </title>
</head>
<body>
    <main>
        <div>
            <strong>Verificación de correo eletronico</strong>
            <span>hemos enviado un codigo a tu correo.</span>
            <span>Revisa e insertalo en las casillas de abajo</span>
            <span>volver a enviar dentro de : 60 s</span>
            <div>
                <input type="number">
                <input type="number">
                <input type="number">
                <input type="number">
            </div>
            <div>
                <span>Reenviar</span>
                <button>Validar</button>
            </div>

        </div>
    </main>
</body>
</html>