<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crear-cuenta</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="icon" href="data:;base64,iVBORw0KGgo="> 
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.js') }}"></script> 

</head>



<body id="bodyResgistroC">

    <main>
       
        <div id="divContainer2">
            <div id="divFormulario2">
                <form class="formulario" action="{{url_for('bp_crear_cuenta.RegistrarUsuario')}}" id="miFormulario" onclick="cambiarColor();"  method="post" >
                   

                    <div id="tituloForm">
                        <div id="iconoForm">
                            <!--el mismo error de la imagen-->
                            <img src="{{url_for('static',filename = 'imagenes/logoQ1.png')}}" alt="logo" width="70px" height="70px">

                        </div>
                        <div>
                            <h1>Farmacit</h1>
                        </div>
                        <div> 
                        </div>
                            
                        
                    </div>
                    <div id="divInputsG">

                        <div>

                            <div id="plbIngresar">
                                
                                <h2>Crear una cuenta</h2>

                            </div>
                               <div class="divInputsC">

                                <div class="cajaInps">
                                    <div>
                                        <label for="fNombrePersona" name="Nombre">Nombre</label>
                                    </div>
                                    
                                     <!-- crear una alerta para datos -->
                                     <input type="text" name="fNombrePersona" placeholder="Sus nombres" class="divAB nombreC" id="nombreP" value="{{ form.fNombrePersona.data if form and form.fNombrePersona }}">


                                    {% if form is defined and 'fNombrePersona' in form.errors %}
                                        {% for error in form.errors['fNombrePersona'] %}
                                            <small style="color: red;">{{ error }}</small>
                                        {% endfor %}
                                    {% endif %}
                                    </div>

                                <div class="cajaInps">
                                    <div>
                                        <label for="cajaInps">Apellido</label>

                                    </div>
                                    <input type="text" name="fApellidoPersona" placeholder="Sus apellidos" class="divAB apellidoC" id="apellidoP" value="{{ form.fApellidoPersona.data if form and form.fApellidoPersona }}">
                                    <!-- <small style="color: red;">Apellido invalido</small> -->
                                    {% if form is defined and 'fApellidoPersona' in form.errors %}
                                        {% for error in form.errors['fApellidoPersona'] %}
                                            <small style="color: red;">{{ error }}</small>
                                        {% endfor %}
                                    {% endif %}
                                </div>

                            </div>
                            <div class="dispersar">
                            <div class="divGid">
                                <div class="divIdentificacion">

                                    <div class="labelid">
                                        <label for="labelid">Identificacion</label>

                                    </div>
                                    <div class="cajasId">
                                        <input type="number" class="inputId documentoC" name="fIdentificacionPersona"
                                            placeholder="Su identificacion" id="documentoP" value="{{ form.fIdentificacionPersona.data if form and form.fIdentificacionPersona }}" >
                                            
                                           
                                    </div>
                                    {% if form is defined and 'fIdentificacionPersona' in form.errors %}
                                        {% for error in form.errors['fIdentificacionPersona'] %}
                                        <div class="labelid">
                                                <small style="color: red;">{{ error }}</small>
                                        </div>
                                        {% endfor %}
                                    {% endif %}


                                </div>
                            </div>
                            
                            <div class="divGid">
                                <div class="divIdentificacion">

                                    <div class="labelid">
                                        <label for="labelid">Correo</label>

                                    </div>
                                    <div class="cajasId">
                                        <input type="email" class="inputId emailC" name="fCorreoPersona"
                                               placeholder="Su correo"  id="inputCorreo"  value="{{ form.fCorreoPersona.data if form and form.fCorreoPersona }}" >
                                    </div>

                                    {% if form is defined and 'fCorreoPersona' in form.errors %}
                                        {% for error in form.errors['fCorreoPersona'] %}
                                        <div class="labelid">
                                                <small style="color: red;">{{ error }}</small>
                                        </div>
                                        {% endfor %}
                                    {% endif %}

                                    <!-- mensaje flash -->
                                    {% with messages = get_flashed_messages() %}
                                        {% if messages %}
                                            {% for message in messages %} 
                                            <div class="labelid">
                                                <small style="color: red;">{{ message }}</small>
                                            </div>
                                            {% endfor %}
                                        {% endif %}
                                    {% endwith %}
                                    
                                    



                                </div>
                            </div>
                            <div class="divGid">
                                <div class="divIdentificacion">

                                    <div class="labelid">
                                        <label for="labelid">Telefono</label>

                                    </div>
                                    <div class="cajasId">
                                        <input type="number" class="inputId telefonoC" name="fTelefonoPersona"
                                            placeholder="Su Telefono" id="telefonoP"  value="{{ form.fTelefonoPersona.data if form and form.fTelefonoPersona }}">

                                    </div>
                                    {% if form is defined and 'fTelefonoPersona' in form.errors %}
                                        {% for error in form.errors['fTelefonoPersona'] %}
                                        <div class="labelid">
                                                <small style="color: red;">{{ error }}</small>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    
                                </div>
                               
                            </div>
                            </div>
                        </div>
                        <div class="divInputsC2">

                            <div class="cajaInps">
                                <div>
                                    <label for="cajaInps" >Contraseña</label>
                                </div>

                                <input type="password" placeholder="Su Contraseña" name="fContrasenaPersona" class="divAB contraC" id="inputContrasena"   autocomplete="new-password" >
                                {% if form is defined and 'fContrasenaPersona' in form.errors %}
                                    {% for error in form.errors['fContrasenaPersona'] %}
                                    <small style="color: red;">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                               
                            </div>

                            <div class="cajaInps">
                                <div>
                                    <label for="cajaInps">Confirmar contraseña</label>

                                </div>
                                <input type="password" placeholder="Confirmar" name="fConfirmarContrasena" class="divAB contraCC" id="inputConfirmarContrasena"  >
                                {% if form is defined and 'fConfirmarContrasena' in form.errors %}
                                    {% for error in form.errors['fConfirmarContrasena'] %}
                                        <small style="color: red;">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            
                            </div>

                        </div>
                        
                        <div id="divTerminos">
                            <!--el checkbox cuando no esta marcado el java script le agrega una clase-->                                                                                                                                                        
                            
                            <input type="checkbox" id="aceptarTerminos" onchange="" required >   
                          
                            <a href="#"  id="aTerminos" > Aceptar los términos y condiciones </a>
 
                        </div>
                        
                       
                    </div>
                    <div class="divButtonIn">
                        
                        <button class="buttonIngresarF" type="submit"  name="fAccion" style="font-family: inherit; font-size: 18px;" onclick="return verificarCampos() && manipularCheckbox() && mostrarAlerta();" id="mibtnC">
                                <h3>Registrar</h3> 
                        </button>
                    </div>

                 </form>   
            </div>

        </div>

</body>

</html>

  <script>
                            
                            
                            function cambiarColor(){

                                //nombre
                                
                                    const colorOriginal = "rgb(118, 118, 118)";
                                    const inputs = document.querySelector(".nombreC");
                                    

                                  inputs.addEventListener("input", function(event) {
                                       inputs.style.borderBottomColor = "Black";
                                    });

//                                     Agrega un evento de blur al input
                                    inputs.addEventListener("blur", function() {
//                                       Cambia el color del input al original  
                                        inputs.style.borderBottomColor = colorOriginal;  
//                                                                         
                                   });
                                   
 
                                  //apellido
//                                  
                                    let inputApellido = document.querySelector(".apellidoC");
                     
                                  
                                     inputApellido.addEventListener("input", function(event) {
//                                     
                                       inputApellido.style.borderBottomColor = "Black";

                                    });
                                    
                                    
                                    inputApellido.addEventListener("blur", function() {
                                        inputApellido.style.borderBottomColor = colorOriginal;  
                                  
                                   });
                                   
                                  //identificacion
                                  
                                  let inputDocumento = document.querySelector(".documentoC");
                             
                                  inputDocumento.addEventListener("input", function(event) {
                                       inputDocumento.style.borderBottomColor = "Black";

                                    });

//                                
                                    inputDocumento.addEventListener("blur", function() { 
                                        inputDocumento.style.borderBottomColor = colorOriginal;  
                                   });
                                   
                                   
                                   //correo
                                   
                                  let inputEmail = document.querySelector(".emailC");
                             
                                    inputEmail.addEventListener("input", function(event) {
                                       inputEmail.style.borderBottomColor = "Black";

                                    });

                                    inputEmail.addEventListener("blur", function() { 
                                        inputEmail.style.borderBottomColor = colorOriginal;  
                                   });
                                   
                                   
                                   //Telefono
                                   
                                  let inputTelefono = document.querySelector(".telefonoC");
                             
                                  
                                  
                                    inputTelefono.addEventListener("input", function(event) {
                                       inputTelefono.style.borderBottomColor = "Black";

                                    });

                                    inputTelefono.addEventListener("blur", function() { 
                                        inputTelefono.style.borderBottomColor = colorOriginal;  
                                   });
                                   
                                   
                                   //Contrasena
                                   
                                   
                                  let inputContrasena = document.querySelector(".contraC");
                             
                                    inputContrasena.addEventListener("input", function(event) {
                                       inputContrasena.style.borderBottomColor = "Black";

                                    });

                                    inputContrasena.addEventListener("blur", function() { 
                                        inputContrasena.style.borderBottomColor = colorOriginal;  
                                   });
                                   
                                   
                                   //confirmar Contrasena
                                   
                                   
                                  let inputConfirmarC = document.querySelector(".contraCC");
                                  
                                    inputConfirmarC.addEventListener("input", function(event) {
                                       inputConfirmarC.style.borderBottomColor = "Black";

                                    });

                                    inputConfirmarC.addEventListener("blur", function() { 
                                        inputConfirmarC.style.borderBottomColor = colorOriginal;  
                                   });
                                  
                                  

                                
                            }
          
                            
                      
                               
                       </script>
                               



