{%extends 'plantillas/main_menu_layout.html'%} 
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.3.0/css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.3.0/js/bootstrap.bundle.js') }}"></script> 
{% endblock %}

{%block title %}Farmacit{% endblock %}
{% block content %}
<main class="inicio-main">
    <div id="seccionPrincipal">
        <div id="barraLateralG">
            <aside>
                <div id="barraL1">
                    <div class="barraC">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
                                class="bi bi-filter-right" viewBox="0 0 16 16" id="iconoFiltro">
                        <path
                            d="M14 10.5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-7a.5.5 0 0 0 0 1h7a.5.5 0 0 0 .5-.5zm0-3a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0 0 1h11a.5.5 0 0 0 .5-.5z" />
                        </svg>
                        <p>Filtros Aplicados</p>
                    </div>
                </div>

                <div id="barraL2">
                    <div class="barraC">
                        <p>Filtrar por:</p>
                    </div>

                    <div id="divSelectG">
                        <div class="divSelect">
                            <select name="" class="selectBL2">

                                <option disabled selected>Sub-Categoría</option>
                                <option value="">Dolor muscular - articular</option>
                                <option value="">Dolor de cabeza y general</option>
                                <option value="">Dolor abdominal y colicos</option>
                                <option value="">Migraña</option>
                                <option value="">Dolor y fiebre niños</option>

                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                            </svg>
                        </div>

                        <div class="divSelect">
                            <select name='fIdMarcaProducto' class='selectBL2' required>
                                <option disabled selected>
                                    Marcas
                                </option>
                                {% for marca in marcasProductos%}
                                    <option value="${unaMarca.idMarcaProducto}" >
                                        {{marca.nombreMarca}}
                                    </option>
                                {%endfor%}
                            </select> 

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                            </svg>
                        </div>

                        <div class="divSelect">
                            <select name="" class="selectBL2">

                                <option disabled selected>Gama de precios</option>
                                <option value="">menor a $10.000$</option>
                                <option value="">menor a $50.000$</option>
                                <option value="">menor a $100.000$</option>
                                <option value="">menor a $180.000$</option>

                            </select>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-arrow-down-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                            </svg>
                        </div>
                    </div>
            </aside>
        </div>

        <div id="seccionProductos">
            <section id="seccionP">
                {% for producto in productos %}
                    {%for imagen in producto.rs_Imagenes%} 
                        <div class='divSeccion'>
                            <div class='cajas'>
                                <div  class='linkDi1'>
                                    <div class='contenedorImgP'>
                                        <a href="{{ url_for('bp_producto.index', idProducto=producto.idProducto) }}" class='contenedorImg'>
                                            <img src="{{url_for('static',filename = 'imagenes/'+imagen.nombreImagen)}}" alt="" class='imgsG inicio-img-producto' width='75%' height='145px' loading="lazy">
                                        </a>  
                                        <a href="{{ url_for('bp_producto.index', idProducto=producto.idProducto) }}" class='cajaC'>
                                            <span>{{producto.nombreProducto}}</span>
                                            <h6>{{producto.descripcionUnidad}}</h6>
                                            <h6>{{producto.precioProducto}}</h6>
                                        </a>
                                    </div>
                                    
                                    {% if current_user.is_authenticated %}
                                        <form class='cajaFP' action="{{url_for('bp_favoritos.acciones')}}" method="post">
                                            <input type="hidden" name="fAccion" value="Ingresar">
                                            <button class='cajaFavorito' name="fIdProducto" value="{{producto.idProducto}}">
                                                <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-bookmark-star' viewBox='0 0 16 16'>
                                                <path d='M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z'/>
                                                <path d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z'/>
                                                </svg>
                                            </button>
                                        </form>
                                    {% else %}
                                        <a class='cajaFP' href="{{url_for('bp_login.login')}}">
                                            <svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='currentColor' class='bi bi-bookmark-star svg-favoritos' viewBox='0 0 16 16'>
                                                <path d='M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z'/>
                                                <path d='M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z'/>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </div>

                                {% if current_user.is_authenticated and producto.stockProducto > 0  %}
                                    
                                    <form class='cajaCB' action="{{url_for('bp_carrito.insertar')}}" method='post'>
                                        <input type="hidden" name="fIdProducto" value="{{producto.idProducto}}">
                                        <button class='buttonComprar' type='button'>
                                            <p>Comprar</p>
                                        </button>
                                        <button class='buttonAgregar' name='agregar' value='[ID del Producto]' type='submit'>
                                            <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-cart-plus-fill' viewBox='0 0 16 16'>
                                            <path d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z'/>
                                            </svg>
                                        </button>
                                    </form>
                                    
                                {%elif producto.stockProducto == 0 %}

                                        <strong class="text-red">Producto sin stock</strong>

                                {%else%}

                                    <a class='cajaCB' href="{{url_for('bp_login.login')}}" >
                                        <button class='buttonComprar' type='button'>
                                            <p>Comprar</p>
                                        </button>
                                        <button class='buttonAgregar' name='agregar' value='[ID del Producto]' type='submit'>
                                            <svg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-cart-plus-fill' viewBox='0 0 16 16'>
                                            <path d='M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z'/>
                                            </svg>
                                        </button>
                                    </a>
                                {%endif%}
                            </div>
                        </div>
                    {% endfor %}
                {% endfor %}
            </section>
        </div>
    </div>
</main>
{% endblock %}